#xls
DISCOUNT_FACTOR="0.989"
XLS_TAB="2"
XLS_COLUMNS="2 3 23 9 25 26 27"

#Blockchain
BLOCKCHAIN_FACTORY_CONTRACT=0x4F29acEAaB22973f1714188C75761f9b6E3E9559
BLOCKCHAIN_CONNECTION_ENDPOINT=https://blockczco2devel.blockchain.azure.com:3200/9HLjEpvx15ydC5uy8qgE5pZZ
BLOCKCHAIN_ACCOUNT_MNEMONIC=derive asset vault goose awful melody praise stamp crisp phone arrow another

#Database
COSMOSDB_CONNECTION_STRING=mongodb://root:root@localhost:27017?

#Keycloak
KEYCLOAK_BASE_URL=http://localhost:8080/auth
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_SECRET=dc420971-c0c4-4518-9a42-e5641d14d336
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_PUBLIC_KEY='-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjAiGKvcUotwlquu/9567
R1v6Yb+UyPL3oKNBrpdPpOlCK/Ftk5PQhnXjvcyy9e+8zNeUj4a2CotmyPO7pa7S
3kQP5/aPsFCKVTil2/CbBmYmxupO1nlEUqV9mtCI6NMk30CaPu9P/YfqzBjsnwbn
BiN7HQ2XBq9X5hzOPoExLFJeayGFVIe9cMkliU91X3i0lldYC14ad7jKkXdYFoTO
3mSMbLLDVmsSqPsi8HbcyxZ7T0EKZ+E0p3wXSKB/S/ChgutkkkSG0HrktJxsD1VE
VbEmrb0IuIH6JjgZm8q11B7qPNcC2KG/6YeagQO0I2z/9xSdoipiwgkjfBTULWmq
ZwIDAQAB
-----END PUBLIC KEY-----
'
